/* ul {
	position: fixed;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	width: 100%;
	top: 0;
}


li {

	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li div {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: black;
}


li a:hover {
	background-color: #333;
}
 */
 *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




button {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #333;
	border:none;
}

button:hover{
	background-color: #5C5C5C;
	text-decoration-color: white;
	color: white;
}


.table {
	display:table;
}


.center {
	text-align: center;
	align-items: center;
	align-content: center;
}

.row {
	width:100%;
	margin-right: 0px;
	margin-left: 0px;
}

.col-sm-2{
	/* width: 19%; */
	padding: 10px;
	margin: 5px;
	border: 2px solid black;
}


.btn {
	width: 95%;
	margin: 2px 0px;
}

.top {
	/* https://stackoverflow.com/questions/6786511/how-to-fix-a-div-to-top-of-page-with-css-only */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
	width: 100%;
	background-color: white;
	border: 2px solid black;
  /* height: 23px; */
}
.top:after {
	clear: both;
}

#blankBoxAtTop {
	height: 0px;
}

.bold {
	font-weight: bold;
}