 *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.center {
	text-align: center;
	align-items: center;
	align-content: center;
}

.row {
	width:100%;
	margin-right: 0px;
	margin-left: 0px;
}

.col-sm-2{
	/* width: 19%; */
	padding: 10px;
	margin: 5px;
	border: 2px solid black;
}


.btn {
	background-color: #333;
	border:none;
	color: white;
	margin: 2px 0px;
	padding: 7px;
	white-space: pre-wrap;
	width: 100%;
}
.btn:hover {
	background-color: #5C5C5C;
	/* text-decoration-color: white; */
	color: white;
}
.btn:focus {
	background-color: #5C5C5C;
	color: white;
}

.top {
	/* https://stackoverflow.com/questions/6786511/how-to-fix-a-div-to-top-of-page-with-css-only */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
	width: 100%;
	background-color: white;
	border: 2px solid black;
  /* height: 23px; */
}
.top:after {
	clear: both;
}

#blankBoxAtTop {
	height: 0px;
}

.bold {
	font-weight: bold;
}